extends layoutHorsJeu

block content
	- var footerSet = false
	div(id="pageAccueil")
		img(src="/images/home/lonelywolf.png")
		h1 Les Grottes de Kalte
	a(href="/homepage")
		img(src="/images/bouton/boutonCentral.png",id="boutonCentral")