doctype html
html(ng-app="AppHorsJeu")
	head
		if title == "Page d'accueil" 
			title= "Le Loup solitaire"
		else 
			title= "Le Loup solitaire - "+title 
		link(rel='stylesheet', href='/stylesheets/style.css')

	script(src="/javascripts/jquery.js")
	script(src="/javascripts/angular.js")
	script(src="/javascripts/controller.js")

	header
		include header
	
	include popups.jade
	
	body(ng-controller="ControllerCombat")
		div(class="combat")
			block content
	
		div(class="combat")
			fieldset
				legend Historique des combats
				include historiqueCombat
				
		aside(class="combat")
				fieldset(class="choix_stats")
					legend Statistique
					include statistique
	
	footer
		include footer