div Vous vous préparez en hâte et vous sortez de la tente. Le vents'est intensifié et il emporte la neige poudreuse en petitstourbillons qui réduisent considérablement la visibilité. Uneombre sur votre droite trahit la présence du Bakanal qui bonditsur vous. Vous n'avez plus le temps d'éviter son Assaut, et il vousfaut le combattre jusqu'à la mort. BAKANAL HABILETÉ: 19 ENDURANCE: 30.
img(src="/images/ennemy/bakanal.jpg",class="ennemyPicture")
	